.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.register {
  background-color: rgb(221, 243, 217);
}

.login {
  background-color: rgb(255, 204, 255);
}

.authorization {
  background-color: rgb(210, 209, 255);
}

.logout {
  background-color: rgb(230, 255, 140);
}

.multer-avatar {
  background-color: rgb(200, 250, 205);
}

.multer-image-date {
  background-color: rgb(255, 204, 242);
}

.jest-example1 {
  background-color: rgb(255, 204, 242);
}
